<h2> Contact Information</h2>
<hr/>

<div class="row">
  <div class="col-md-6">
    <h4><%= @contact.fname + " " + @contact.lname %></h4>
    <h5><%= @contact.phone%></h5>
  </div>

  <div class="col-md-6">
    <h4><%= @contact.fname + " " + @contact.lname %></h4>
    <h5><%= @contact.phone%></h5>
  </div>
</div>

<br/>
<div class="row">
  <%= link_to "Edit Contact", edit_contact_path, class: "btn btn-primary" %>

  <%= link_to "Delete Contact",
    contact_path,
    method: :delete,
    data: {
      confirm: "Are you sure? This contact will be deleted!"
    },
    class: "btn btn-danger"
  %>
</div>
